body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: honeydew;
    color: #404041;
      
  min-height: 100%;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: linen;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

/* Runde Bilder */
.small-circular-image img {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	-ms-border-radius: 150px;
	-o-border-radius: 150px; 
	border-radius: 150px;                               
}

.small-circular-image img:hover {
	width: 200px;
	height:200px;
}

.big-circular-image img {
	width: 150px;
	height: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	-ms-border-radius: 150px;
	-o-border-radius: 150px; 
	border-radius: 150px;                               
}

.big-circular-image img:hover {
	width: 400px;
	height:400px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	-ms-border-radius: 200px;
	-o-border-radius: 200px; 
	border-radius: 200px;   
}

/* An mobile Version angepasste Größe der Bilder */
.amensic-image-wrapper{
max-width:90%;
height:auto;
position: relative;
display:block;
margin:0 auto;
}
.amensic-image-wrapper img{
width:100% !important;
height:auto !important;
display:block;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Buttons */
.button {
  font-size: 1.75rem;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  padding: 0.0rem 1.75rem;
  background-color: #96b296 ;
  border: 1px solid #96b296 ;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 2px;
  border-radius: 2px; 
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #ffffff;
  color: #96b296 ;
  border-color: #96b296 ;
}



/* Daten-Tabelle */

strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table.datentabelle {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	text-align: left;
	width: 800px;
}	

th.datentabelle  {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th.datentabelle :after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th.datentabelle :first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th.datentabelle :last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td.datentabelle  {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td.datentabelle :first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td.datentabelle :last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr.datentabelle  {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr.datentabelle :nth-child(odd) td {
	background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr.datentabelle :last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr.datentabelle :last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr.datentabelle :last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	


tbody.datentabelle:hover td.datentabelle  {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody.datentabelle:hover tr.datentabelle:hover td.datentabelle  {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}



@media screen and (max-width: 60em) {
	tr.untereinander, th.untereinander, td.untereinander {
 		display: block;
	}
 
table.datenuntereinander {
border: 0;
}
 
table.datenuntereinander thead.datenuntereinander {
display: none;
}
 
table.datenuntereinander tr.datenuntereinander {
margin-bottom: 10px;
display: block;
border-bottom: 2px solid #ddd;
}
 
table.datenuntereinander td.datenuntereinander {
display: block;
text-align: right;
font-size: 13px;
border-bottom: 1px dotted #ccc;
}
 
table.datenuntereinander td.datenuntereinander:last-child {
border-bottom: 0;
}
 
table.datenuntereinander td.datenuntereinander:before {
content: attr(data-label);
float: left;
text-transform: uppercase;
font-weight: bold;
}


}